<mynotes-card>
  <div class="flex justify-between items-center gap-8" card-title>
    <h2 class="text-gray-800 text-3xl font-semibold">{{note.title}}</h2>
    <fa-icon class="hover:bg-red-50 hover:text-red-600 p-2 rounded-full" size="lg"
      [icon]="note.isFavourite ? heartIcon.solid : heartIcon.regular" (click)="toggleFavourite(note)">
    </fa-icon>
  </div>
  <div card-content>
    <div class="flex flex-wrap my-2 gap-1" *ngIf="note.notespaces">
      <div *ngFor="let notespace of note.notespaces" [style.background-color]="notespace.color"
        class="w-5 h-5 rounded-full" [title]="notespace.name" routerLink="/notespaces/{{notespace.id}}"></div>
    </div>
    <p class="mt-2 text-gray-600 leading-5 whitespace-pre-line">{{note.content}}</p>
  </div>
  <div class="flex justify-end mt-4 gap-2" card-action>
    <button class="bg-red-50 rounded-full text-red-500 hover:bg-red-500 hover:text-red-50 fill-current w-10 h-10"
      (click)="this.delete.emit(note)">
      <fa-icon size="lg" [icon]="deleteIcon"></fa-icon>
    </button>
    <button class="bg-blue-50 rounded-full text-blue-500 hover:bg-blue-500 hover:text-blue-50 fill-current w-10 h-10"
      (click)="isShowingModal = true">
      <fa-icon size="lg" [icon]="addIcon"></fa-icon>
    </button>
    <button class="bg-blue-50 rounded-full text-blue-500 hover:bg-blue-500 hover:text-blue-50 fill-current w-10 h-10"
      routerLink="/notes/{{note.id}}">
      <fa-icon size="lg" [icon]="expandIcon"></fa-icon>
    </button>
  </div>
</mynotes-card>
<mynotes-notespaces-modal *ngIf="isShowingModal" [note]="note" (closed)="isShowingModal = false" (added)="onAdd($event)">
</mynotes-notespaces-modal>
