<div class="w-full flex flex-col items-center">
  <h1 class="text-gray-800 text-3xl font-semibold m-4">View Note</h1>
  <form autocomplete="off" class="w-full max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col"
    [formGroup]="data" (ngSubmit)="onSubmit()">
    <input
      class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4"
      id="title" type="text" formControlName="title" placeholder="My awesome title!">
    <textarea
      class="h-80 appearance-none resize-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4"
      id="content" formControlName="content" placeholder="My amazing content!"></textarea>
    <div class="flex gap-4 self-end">
      <button type="button" class="btn btn-blue-outline" (click)="goBack()">Cancel</button>
      <button type="submit" class="btn btn-blue" [disabled]="!data.valid">Save</button>
    </div>
  </form>
</div>
