<mynotes-dashboard *ngIf="notespace">
  <h2 class="text-gray-800 text-3xl font-semibold" dashboard-title>{{notespace.name}}</h2>
  <mynotes-note *ngFor="let note of notespace.notes" [note]="note" (delete)="removeNote($event)" dashboard-content>
  </mynotes-note>
  <button class="btn btn-blue self-center" (click)="isShowingModal = true" dashboard-action>Add note</button>
  <mynotes-notes-modal *ngIf="isShowingModal" [notespace]="notespace" (closed)="isShowingModal = false"
    (added)="onAdd($event)"></mynotes-notes-modal>
</mynotes-dashboard>
